@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* tailwindcss*/
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* ================================================================================================================ */

/* animation */
@keyframes slideFromLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Scroll-based animation (modern browsers) */
.scroll-left {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: slideFromLeft linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* Fallback (older browsers) */
@supports not (animation-timeline: view()) {
    .scroll-left {
        animation: slideFromLeft 0.9s ease forwards;
    }
}

@keyframes slideFromRight {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Scroll-based animation (modern browsers) */
.scroll-right {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: slideFromRight linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* Fallback (older browsers) */
@supports not (animation-timeline: view()) {
    .scroll-right {
        animation: slideFromRight 0.9s ease forwards;
    }
}

@keyframes slideFromTop {
    from {
        opacity: 0;
        transform: translateY(160px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Scroll-based animation (modern browsers) */
.scroll-top {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: slideFromTop linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* Fallback (older browsers) */
@supports not (animation-timeline: view()) {
    .scroll-top {
        animation: slideFromTop 0.9s ease forwards;
    }
}

/* ================================================================================================================ */
